.navbar{
    width: 100%;
    display: flex;
    z-index: 900;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    background-color: antiquewhite;
    color: black;
    font-size: larger;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}